@charset "EUC-KR";

nav{
/* 	width: 100%; */
}
/* table { */
/*     table-layout: fixed; 테이블 레이아웃을 고정시켜 셀의 너비를 정확하게 제어할 수 있게 함 */
/* } */

th, td {
    width: 200px; /* 셀의 너비를 200px로 고정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 말줄임표로 표시 */
    white-space: nowrap; /* 셀 내용을 한 줄로 표시, 필요에 따라 제거 가능 */
}

.board-table {
        
        border-collapse: collapse; /* 셀 사이의 간격 없앰 */
        table-layout: fixed; /* 열 너비 고정 */
    }
    .board-table th, .board-table td {
    	width: 200px;
        border: 1px solid #ddd; /* 테두리 스타일 */
        padding: 8px; /* 내부 여백 */
    }
    .board-table th {
        background-color: #f2f2f2; /* 헤더 배경색 */
        color: #333; /* 헤더 글자색 */
    }
    .board-table tr:nth-child(even) {
        background-color: #f9f9f9; /* 짝수 행 배경색 */
    }
    .board-table tr:hover {
        background-color: #eaeaea; /* 마우스 오버시 배경색 */
    }
    .input-size {
        width: 100px; /* 입력 필드 너비를 셀에 맞춤 */
        box-sizing: border-box; /* 패딩을 포함한 너비로 계산 */
        border: 1px solid #ccc; /* 입력 필드 테두리 스타일 */
        background-color: #fff; /* 입력 필드 배경색 */
        padding: 4px; /* 입력 필드 내부 여백 */
   	  display: block; /* 블록 레벨 요소로 만들어 너비를 적용 */
    margin: auto; /* 상하 마진을 제외하고 좌우 마진을 자동으로 설정하여 중앙 정렬 */
    }
