@charset "EUC-KR";

table {
    width: 100%;
    border-collapse: collapse; /* 테이블 셀 사이의 간격을 없앱니다 */
}

td, th {
    border: 1px solid #ddd;
    padding: 4px; /* 셀 내부의 패딩 조정 */
    position: relative; /* 포지션 relative 추가 */
white-space: nowrap; /* 줄 바꿈 없이 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 오버플로우된 텍스트 숨김 */
    text-overflow: ellipsis; /* 오버플로우된 텍스트를 말줄임표로 표시 */
}

th {
    background-color: #f2f2f2; /* 헤더 배경색 */
    color: #333; /* 헤더 글자색 */
    position: sticky;
    top: 0;
    min-height: 30px;
    z-index: 2; /* 헤더가 항상 위에 오도록 z-index 설정 */
}

.board-table {
    border-collapse: collapse; /* 셀 사이의 간격 없앰 */
    table-layout: fixed; /* 열 너비 고정 */
}

.board-table th, .board-table td {
    width: 100px; /* 열 너비 고정 */
}

.board-table tbody {
    padding-top: 20px; /* 상단 여백 추가 */
}

.board-table tr:nth-child(even) {
    background-color: #f9f9f9; /* 짝수 행 배경색 */
}

.board-table tr:hover {
    background-color: #eaeaea; /* 마우스 오버시 배경색 */
}

.input-size {
    width: 100%; /* 입력 필드 너비를 셀에 맞춤 */
    height: 100%;
    box-sizing: border-box; /* 패딩을 포함한 너비로 계산 */
    border: 0.1px solid #ccc; /* 입력 필드 테두리 스타일 */
    background-color: #fff; /* 입력 필드 배경색 */
    padding: 4px; /* 입력 필드 내부 여백 */
    margin-top: 1px; /* 상단 여백 추가 */
}

td:hover::after, th:hover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px; /* 너비 조절 영역의 너비 */
    height: 100%;
    cursor: ew-resize; /* 너비 조절 영역을 나타내는 커서 스타일 */
}

